<section>
    <h1>todos</h1>
    <p>Based on <a href="http://todomvc.com/">TodoMVC</a>, by
        <a href="https://github.com/addyosmani">Addy, </a>
        <a href="https://github.com/sindresorhus">Sindre, </a>
        <a href="https://github.com/passy">Pascal, </a>
        <a href="https://github.com/stephenplusplus">Stephen, </a>
        <a href="https://github.com/colineberhardt">Colin, </a>
        <a href="https://github.com/arthurvr">Arthur, </a>
        <a href="https://github.com/samccone">Sam</a>
    </p>
</section>